<h2>index</h2>

<% if logged_in? %>
  <form action="/" method="post">
    <textarea name="vent_body" rows="8" cols="40"></textarea>
    <button>vent</button>
  </form>
<% end %>


<% @vents.each do |vent| %>
  <h4><%= vent.user.username %> <small><%= vent.creation_date_time || '' %></small></h4>
  <p><%= vent.body %></p>
<% end %>
