<form action="/login" method="post">
  <input name="email" type="text" placeholder="email">
  <input name="password" type="password" placeholder="password">
  <button>login</button>
</form>

<a href="/create_user">create a new user</a>
