
body {
  padding-top: 70px;
  background-color: #fff2e6;
}

.left-nav ul li a {
  color: #555555;
}

.panel-default > .panel-heading {
  background-color: #000066;
  color: #ddd;
}

.panel-footer {
  background-color: #ffffff;
}

.panel-body a {
  color: #000000;
  text-decoration: none;
}

.panel-footer form {
  display: inline-block;
}

.navbar-custom {
  background-color: #333;
  border-color: #333;
}

textarea.form-control {
  resize: none;
}

.vent-form {
  margin-bottom: 12px;
  overflow: hidden;
}

.vent-post-btn {
  float: right;
}

.comment-form {
  margin-bottom: 12px;
  overflow: hidden;
}

.comment-post-btn {
  float: right;
}

.edit-btn {
  float: right;
}

h3 {
  text-decoration: underline;
  margin-bottom: 20px;
  text-align: center;
}

.char-track {
  display: inline-block;
  margin-left: 10px;
}

i {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media (max-width: 768px) {
  .sidebar > nav {
    display: none;
  }
}
